@import "./vari";

body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}
html{
    font:12px/1.5;
}
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a{
    color:#fff;
    text-decoration:none;
    &:hover{
        color:#fff;
    }
}
.clearfix:after{
    display:table;
    content:'';
    clear:both;
}
body, button, input, select, textarea {
    font: 400 1em/1.8 Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
}


%block{
    display:block;
}


