/******  btn *******/
@import "./vari";
.btn{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;

  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  @extend %btn-height;
}

@mixin btn-style($bg-color, $color:#fff){
  color:$color;
  background-color:$bg-color;
  border-color:$bg-color;
}
.btn-primary {
  @include btn-style($highlight-color);
}
.btn-large{
  padding-top:15px;padding-bottom:15px;width:100%;display:block;
}
.btn-gray{
  @include btn-style($btn-gray);

}




/****简介******/
.header{text-align: center;}
.headerbox{width: 100%;background-image: url("/src/img/background.jpg") ;min-height:140px;text-align: center; display:table;}
.headerbox span{color: #ffffff;font-size: 40px;display:table-cell;vertical-align:middle;}
.content p{font-size: 20px;}
.content .footer button{margin-top: 50px;}

.form-hori input[type=text]:focus,.form-hori input[type=tel]:focus,.form-hori input[type=number]:focus,.form-hori input[type=date]:focus, .form-hori select:focus, .form-hori textarea:focus{
 border:1px solid $highlight-color;  }


/******* input ******/

.form-group{
  margin-bottom:$gb-margin-grip;
}

.form-select{-webkit-appearance: none;}
.form-hori label, .form-hori input[type=text],.form-hori input[type=date], .form-hori select{
  @extend %block;
}
%hori-form-control{
  width:100%;display:block;
  border-radius:1px;
  background-color:$bg-color;
  -webkit-appearance: none;
  color:#fff;
  border:1px solid $gb-color;
  @extend %btn-height;
}



%btn-height{
  padding:10px;line-height:1.5;
}
.date-time{
  height: 46px;
}
.form-hori input[type=text],.form-hori input[type=tel],.form-hori input[type=number] ,.form-hori input[type=date], .form-hori select, .form-hori textarea{
  @extend %hori-form-control;

}
.body-gray .form-hori input[type=text],.body-gray .form-hori input[type=tel],.body-gray .form-hori input[type=number],.body-gray .form-hori input[type=date],.body-gray  .form-hori select,.body-gray  .form-hori textarea{
 background-color: #fff;
  border-color:#d2d2d2;
  color:#333;
}
.form-hori .auth {
  .auth-input{
    width:60%;float:left;
  }
  .auth-btn{
    width:35%;float:right;
  }
}


$sexangle-width:80px;
$sexangle-height:$sexangle-width * 1.7320508075689;
$sexangle-color:$highlight-color !default;

%sexangle-content{
  content:'';
  position:absolute;
  width:0;height:0;
  border-style:solid;
  top:0;
}

.sexangle{
  width:$sexangle-width;height:$sexangle-height;display:inline-block;position:relative;background-color:$sexangle-color;

  &:before{
    @extend %sexangle-content;
    border-color:transparent $sexangle-color transparent transparent;
    border-width:$sexangle-height/2 $sexangle-width/2 $sexangle-height/2 0;
    right:100%;
  }
  &:after{
    @extend %sexangle-content;
    border-color:transparent transparent transparent $sexangle-color;
    border-width:$sexangle-height/2 0 $sexangle-height/2 $sexangle-width/2;
    left:100%;

  }
}


$check-mark-dec-width:12px;
%check-mark-dec{
  content:'';
  width:$check-mark-dec-width;
  display:inline-block;
  border-radius:5px;

  background-color:#fff;
}


.check-mark{

  position:relative;

  color:#fff ;
  display:inline-block;

  &:before{
    @extend %check-mark-dec;
//    在这里添加个webkit
    -webkit-transform:rotateZ(-55deg);
    -moz-transform: rotateZ(-55deg);
    -ms-transform: rotateZ(-55deg);
    -o-transform: rotateZ(-55deg);
    height:45px;
  }
  &:after{
    //在这里还要添加个webkit
    @extend %check-mark-dec;
    -webkit-transform: rotateZ(37deg) translate(15px, -15px);
    -moz-transform: rotateZ(37deg) translate(15px, -15px);
    -ms-transform: rotateZ(37deg) translate(15px, -15px);
    -o-transform: rotateZ(37deg) translate(15px, -15px);
    height:70px;
  }

}

