



body{
  background:$bg-color;
}
label{
  color:$gb-color;
}
.wrapper{
  padding:15px;
}
.wrapper > header{
  text-align:center;margin-top:15px;
}
.wrapper > header .logo{
  width:100px;height:60px;
  background:url(/src/img/logo.png) no-repeat;
  background-size:90px;
  display:inline-block;
}
.section-form{
  margin-top:40px;
}
.form-hori .footer{
  margin-top:50px;
}

$step-padding-top: 25px;
$progress-bar-height:5px;

$step-logo-height:28px;
$step-logo-width:35px;
$step-logo-top:-($progress-bar-height + $step-logo-height)/2;

$step-bar-margin:16.666666666%;
.step{
  margin-top:40px;
  .steps-progress{
    background-color:$gb-color;
    height:$progress-bar-height;

    margin-left:$step-bar-margin;
    margin-right:$step-bar-margin;
  }
  & > ul{
    display:table;
    margin:0;padding:0;
    list-style: none;
  }
  & > ul > li{
    display: table-cell;
    width: 1%;
    text-align: center;
    position: relative;


  }
  & > ul > li a{
    position: relative;
    display: block;
    padding-top: $step-padding-top;
    transition: all 300ms ease-in-out;
  }

  & > ul > li a span {
    position:absolute;
    display:block;
    width:35px;height:35px;
    top:$step-logo-top;
    left:50%;
    margin-left:-$step-logo-width/2;
    background:url('/src/img/step.jpg') no-repeat;
  }
  & > ul > li.active {
    a{
      color:$highlight-color;
    }
    a span{
      background:url('/src/img/step_active.jpg') no-repeat;
    }

  }

}


/********* 活动 ********/
.body-gray{
  background-color:$gray-little;
}
.wrapper > header .title{
  color:$highlight-color;
  position:relative;
  span{
    position:relative;z-index:1;
    background-color:$gray-little;padding: 0 5px;
  }
  hr{
    margin-top:-15px;border:1px solid $highlight-color;
  }
}

%success-logo-info{
  text-align:center;margin-top:50px;
}
.success-logo{
  @extend %success-logo-info;
}
.success-logo-inner{
  display:inline-block;position:relative;

}
.success-info{
  @extend %success-logo-info;
  color:$highlight-color;
}

/******* As成功 **********/
.appoinment .section-form .footer {
  margin-top:80px;
}
.appoinment .success-logo .check-mark{
  position:absolute;left:50%;top:50%;
  margin-left: -60px;
  margin-top: -40px;
  width:100px;
}